{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>changement de password</h1>
<h2>{{app.user.prenom}}</h2>
{% if notif %}
<div class="alert alert-danger" role="alert">
 {{notif}}
 {% endif %}
</div>
<li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">logout</a>
          </li>
 {{form(form)}}
    <ul>
        <li><a href="{{path('account_pwd')}}">retour sur mon compte</a></li>
       
    </ul>
</div>
{% endblock %}
