{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}
{% block body %}
 <main class="container row mx-2 mt-5 justify-content-center w-100 ml-3 mr-3">
      
     

      <section class="col-lg-9 mt-5 ml-5">

     {% for categorie in categories %}
        <div class="row ml">
        <h2>{{categorie}}</h2>
            {% for produit in produits %}
            {% if produit.category.nom == categorie %}
          <div class="col-lg-4 col-md-6 mb-4 carte">
            <div class="card " >
               
              <a href="{{path('boutiqueDetail',{'slug': produit.slug})}}"><img id="img_produit" class=" " src="produits_image/{{produit.illustration}}" alt={{produit.nom}}></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{path('boutiqueDetail',{'slug': produit.slug})}}">{{produit.nom}}</a>
                </h4>
              </div>
              <div class="card-footer">
                <h5>{{produit.price/100}} euros</h5>
               <small> <p class="card-text">{{produit.nom}}</p></small>
                <a href="{{path("panier_add",{'id': produit.id})}}" class="btn btn-secondary float-right">
                        <i class="fas fa-cart-arrow-down"></i>
                        Ajouter
                    </a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        
        <!-- /.row -->
     {% endfor %}
      </div>
      <!-- /.col-lg-9 -->
      </section>
 <section class="col-lg-3">
        <h2 class="my-4">BOUTIQUE pikisew</h2>

        <div class="list-group">
        {% for categorie in categories %}
          <a href="{{path("boutique_categorie",{'categorie': categorie})}}" class="list-group-item">{{categorie}}</a>
        
          {% endfor %}
        </div>
        <a href="{{path("panier")}}" class="btn btn-info mt-2">mon panier</a>
        <!-- petit panier -->
        <div class=" mt-5 panier-boutique w-75  ">
                <table class="table table-striped  ">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">disponible</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                            <th scope="col" class="text-right">total/produit</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}

                        <tr>
                            <td><img src="produits_image/{{item.produit.illustration}}" class="col-2"/> </td>
                            <td>{{item.produit.nom}}</td>
                            <td>en stock</td>
                            <td><input class="form-control" type="text" value={{item.quantite}} /></td>
                            <td class="text-right">{{item.produit.price/100}}</td>
                            <td>{{item.produit.price/100 * item.quantite }}</td>
                            <td class="text-right"><a class="btn btn-sm btn-danger" href="{{path("panier_removeBoutique",{'id': item.produit.id})}}"><i class="fa fa-trash">supprimer</i> </a> </td>
                            
                        </tr>
                       {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">{{total/100}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{total/100}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            
        
        
                  
                  <div class="col-sm-12 col-md-6 text-right">
                      <a href="{{path('panier')}}" > <button class="btn btn-block btn-success">valider</button></a>
                  </div>
               
         
        </div>
        <!-- /petit panier -->
       </section>
     
      <!-- /.col-lg-3 -->
    </main>
    <!-- /.row -->

 


{% endblock %}
